/* ESTILOS DE REACT */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* --------------------------- MIS ESTILOS ------------------------------ */

/* NORMALIZACION */
*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #c62828;
  --secondary-color: #ef5350;
  --bg-color:beige;
  --font-color: #000;
  --contrast-color: #263238;

  --font-size: 1.2rem;
  --font-size-hover: 1.5rem;
}


/* BODY */
body{
  color: var(--font-color);
}


/* HEADER - MENÚ DE NAVEGACIÓN */
header{
  background-color: var(--contrast-color);
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100vw;
  box-shadow: 0px 1px 10px #999;
}

header .logo-img{
  width: 10rem;
}

header .nav-menu{
  display: flex;
  align-items: center;
}

header .nav-link{
  color: var(--bg-color);
  display: flex;
  margin-right: 20px;
  font-size: var(--font-size);
}
header .nav-link:hover{
  font-size: var(--font-size-hover);

}


/* BÚSQUEDA */
.container-search{
  background-color: var(--bg-color);
}

/* LANDING */
.container-landing{
    background: linear-gradient(to bottom, var(--secondary-color), var(--bg-color));
}

/* FOOTER */

footer{
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  position: relative;
  width: 100vw;
}

footer .btn{
  background-color: var(--bg-color);
}


/* COMPONENTE LISTA */

/* COMPONENTE DETALLE */
.containerdetalle{
  display:flex;
}

section{
  display: flex;
  flex-direction: column;
}

/* JUEGO */




